In [1]:
import pandas as pd
import numpy as np

In [2]:
df100 = pd.read_csv('../datasets/dacoga/nbaiot/dsetN-Baiot_v2_label_NoDuplicates.csv')

In [3]:
df100.head()

,MI_dir_L5_weight,MI_dir_L5_mean,MI_dir_L5_variance,MI_dir_L3_weight,MI_dir_L3_mean,MI_dir_L3_variance,MI_dir_L1_weight,MI_dir_L1_mean,MI_dir_L1_variance,MI_dir_L0_1_weight,...,HpHp_L0_1_covariance,HpHp_L0_1_pcc,HpHp_L0_01_weight,HpHp_L0_01_mean,HpHp_L0_01_std,HpHp_L0_01_magnitude,HpHp_L0_01_radius,HpHp_L0_01_covariance,HpHp_L0_01_pcc,label
0,34.601760,398.908959,52550.382469,67.717384,403.302501,51712.306449,290.361681,371.306909,56847.712817,3664.475330,...,0.0,0.0,1.000000,60.0,0.000000e+00,60.000000,0.000000e+00,0.0,0.0,0
1,166.897264,74.093675,2.239427,271.018503,74.076204,1.823122,802.782759,74.053501,1.405218,7073.265995,...,0.0,0.0,1.678887,74.0,9.536743e-07,95.268043,9.094947e-13,0.0,0.0,0
2,1.000000,60.000000,0.000000,1.000000,60.000000,0.000000,1.000000,60.000000,0.000000,1.000000,...,0.0,0.0,1.000000,60.0,0.000000e+00,60.000000,0.000000e+00,0.0,0.0,0
3,81.573509,361.922677,57800.777918,138.807560,321.869667,60673.771150,426.539988,314.707208,60910.274988,3941.072685,...,0.0,0.0,1.000000,554.0,0.000000e+00,554.000000,0.000000e+00,0.0,0.0,0
4,142.893002,65.017844,45.078160,202.254552,65.919080,47.843152,449.879100,67.102984,49.018986,3714.410039,...,0.0,0.0,1.000000,60.0,0.000000e+00,60.000000,0.000000e+00,0.0,0.0,0

## Data set 60%

In [4]:
colunas_60 = [
    'MI_dir_L1_weight', 
    'MI_dir_L1_mean', 
    'MI_dir_L1_variance', 
    'H_L1_weight', 
    'H_L1_mean', 
    'H_L1_variance',
    'HH_L1_weight', 
    'HH_L1_mean', 
    'HH_L1_std', 
    'HH_L1_magnitude',
    'HH_L1_radius', 
    'HH_L1_covariance', 
    'HH_L1_pcc',
    'HH_jit_L1_weight', 
    'HH_jit_L1_mean', 
    'HH_jit_L1_variance', 
    'HpHp_L1_weight', 
    'HpHp_L1_mean', 
    'HpHp_L1_std', 
    'HpHp_L1_magnitude', 
    'HpHp_L1_radius', 
    'HpHp_L1_covariance', 
    'HpHp_L1_pcc',
    'MI_dir_L3_weight', 
    'MI_dir_L3_mean', 
    'MI_dir_L3_variance', 
    'H_L3_weight', 
    'H_L3_mean', 
    'H_L3_variance', 
    'HH_L3_weight', 
    'HH_L3_mean', 
    'HH_L3_std', 
    'HH_L3_magnitude', 
    'HH_L3_radius', 
    'HH_L3_covariance', 
    'HH_L3_pcc', 
    'HH_jit_L3_weight', 
    'HH_jit_L3_mean', 
    'HH_jit_L3_variance', 
    'HpHp_L3_weight', 
    'HpHp_L3_mean', 
    'HpHp_L3_std', 
    'HpHp_L3_magnitude', 
    'HpHp_L3_radius', 
    'HpHp_L3_covariance', 
    'HpHp_L3_pcc',
    'MI_dir_L5_weight', 
    'MI_dir_L5_mean', 
    'MI_dir_L5_variance', 
    'H_L5_weight', 
    'H_L5_mean', 
    'H_L5_variance', 
    'HH_L5_weight', 
    'HH_L5_mean', 
    'HH_L5_std', 
    'HH_L5_magnitude', 
    'HH_L5_radius', 
    'HH_L5_covariance', 
    'HH_L5_pcc', 
    'HH_jit_L5_weight', 
    'HH_jit_L5_mean', 
    'HH_jit_L5_variance', 
    'HpHp_L5_weight', 
    'HpHp_L5_mean', 
    'HpHp_L5_std', 
    'HpHp_L5_magnitude', 
    'HpHp_L5_radius', 
    'HpHp_L5_covariance', 
    'HpHp_L5_pcc',
    'label'
]
df60 = df100[colunas_60]

In [5]:
df60.head()

,MI_dir_L1_weight,MI_dir_L1_mean,MI_dir_L1_variance,H_L1_weight,H_L1_mean,H_L1_variance,HH_L1_weight,HH_L1_mean,HH_L1_std,HH_L1_magnitude,...,HH_jit_L5_mean,HH_jit_L5_variance,HpHp_L5_weight,HpHp_L5_mean,HpHp_L5_std,HpHp_L5_magnitude,HpHp_L5_radius,HpHp_L5_covariance,HpHp_L5_pcc,label
0,290.361681,371.306909,56847.712817,290.361681,371.306909,56847.712817,1.000000,60.000000,0.000000,60.000000,...,1.507656e+09,0.000000,1.0,60.0,0.0,60.000000,0.0,0.0,0.0,0
1,802.782759,74.053501,1.405218,802.782759,74.053501,1.405218,800.991939,73.999548,0.079539,95.267692,...,1.782962e-03,0.000026,1.0,74.0,0.0,95.268043,0.0,0.0,0.0,0
2,1.000000,60.000000,0.000000,1.000000,60.000000,0.000000,1.000000,60.000000,0.000000,60.000000,...,1.505914e+09,0.000000,1.0,60.0,0.0,60.000000,0.0,0.0,0.0,0
3,426.539988,314.707208,60910.274988,426.539988,314.707208,60910.274988,219.853237,554.000000,0.013568,554.000000,...,7.616904e-03,0.001288,1.0,554.0,0.0,554.000000,0.0,0.0,0.0,0
4,449.879100,67.102984,49.018986,449.879100,67.102984,49.018986,1.000000,60.000000,0.000000,60.000000,...,1.507657e+09,0.000000,1.0,60.0,0.0,60.000000,0.0,0.0,0.0,0

In [6]:
diretorio = '../datasets/dacoga/'
arquivo_saida = 'dsetN-Baiot_v2_60.csv'

caminho_completo_saida = os.path.join(diretorio, arquivo_saida)
df60.to_csv(caminho_completo_saida, index=False)

## Data set 20%

In [7]:
colunas_20 = [
    'MI_dir_L0_1_weight',
    'MI_dir_L0_1_mean',
    'MI_dir_L0_1_variance',
    'H_L0_1_weight',
    'H_L0_1_mean',
    'H_L0_1_variance',
    'HH_L0_1_mean',
    'HH_L0_1_std',
    'HH_L0_1_magnitude',
    'HH_L0_1_radius',
    'HH_L0_1_covariance',
    'HH_L0_1_pcc',
    'HH_jit_L0_1_weight',
    'HH_jit_L0_1_mean', 
    'HH_jit_L0_1_variance', 
    'HpHp_L0_1_weight', 
    'HpHp_L0_1_mean', 
    'HpHp_L0_1_std', 
    'HpHp_L0_1_magnitude', 
    'HpHp_L0_1_radius', 
    'HpHp_L0_1_covariance', 
    'HpHp_L0_1_pcc',
    'label'
]

df20 = df100[colunas_20]

In [8]:
df20.head()

,MI_dir_L0_1_weight,MI_dir_L0_1_mean,MI_dir_L0_1_variance,H_L0_1_weight,H_L0_1_mean,H_L0_1_variance,HH_L0_1_mean,HH_L0_1_std,HH_L0_1_magnitude,HH_L0_1_radius,...,HH_jit_L0_1_mean,HH_jit_L0_1_variance,HpHp_L0_1_weight,HpHp_L0_1_mean,HpHp_L0_1_std,HpHp_L0_1_magnitude,HpHp_L0_1_radius,HpHp_L0_1_covariance,HpHp_L0_1_pcc,label
0,3664.475330,346.762976,59406.657463,3664.475330,346.762976,59406.657463,60.000000,0.000000,60.000000,0.000000,...,1.507656e+09,0.000000e+00,1.000000,60.0,0.000000e+00,60.000000,0.000000e+00,0.0,0.0,0
1,7073.265995,74.109162,28.631460,7073.265995,74.109162,28.631460,73.998239,0.156988,95.266675,0.024645,...,3.519543e+02,5.300099e+11,1.020796,74.0,9.536743e-07,95.268043,9.094947e-13,0.0,0.0,0
2,1.000000,60.000000,0.000000,1.000000,60.000000,0.000000,60.000000,0.000000,60.000000,0.000000,...,1.505914e+09,0.000000e+00,1.000000,60.0,0.000000e+00,60.000000,0.000000e+00,0.0,0.0,0
3,3941.072685,338.311571,60009.144349,3941.072685,338.311571,60009.144349,553.931939,5.798066,553.931939,33.617575,...,6.522027e-03,3.080661e+03,1.000000,554.0,0.000000e+00,554.000000,0.000000e+00,0.0,0.0,0
4,3714.410039,68.261088,47.544946,3714.410039,68.261088,47.544946,60.000000,0.000000,60.000000,0.000000,...,1.507657e+09,0.000000e+00,1.000000,60.0,0.000000e+00,60.000000,0.000000e+00,0.0,0.0,0

In [9]:
diretorio = '../datasets/dacoga/'
arquivo_saida = 'dsetN-Baiot_v2_20.csv'

caminho_completo_saida = os.path.join(diretorio, arquivo_saida)
df20.to_csv(caminho_completo_saida, index=False)